.icon {
    font-size: 1.2rem;
  }
  
  .socialContainer {
    padding: 2rem 50px 1rem 50px;
    text-align: center;
  }
  
  a.social {
    margin: 0 0.8rem;
    transition: transform 250ms;
    display: inline-block;
    background-color: #33485e;
    color: white;
  }
  
  a.social:hover {
    transform: translateY(-4px);
  }